.statusButton {
    width: 100%;
    font-size: 12px;
    font-family: 'Raleway';
    text-decoration: none;
    border-radius: 100px;
    font-weight: 700;
    min-height: 30px;
    margin-top: 10px;
}

.bgEdit {
    background: rgba(0, 121, 140, 0.3);
    border: none;
}

.bgCancel {
    background: rgba(245, 113, 113);
    border: none;
}

.bgPreview {
    background: #00798C;
    border: none;
    color: #ffffff;
}

.bgReturn {
    background-color: #fff;
    border: 1px solid #00798C;
}